In [1]:
#Import modules and libraries
import pandas as pd
from glob import glob
import datetime

In [2]:
stock_files =sorted(glob('data/JC-*-citibike-tripdata.csv'))
stock_files

['data\\JC-201801-citibike-tripdata.csv',
 'data\\JC-201802-citibike-tripdata.csv',
 'data\\JC-201803-citibike-tripdata.csv',
 'data\\JC-201804-citibike-tripdata.csv',
 'data\\JC-201805-citibike-tripdata.csv',
 'data\\JC-201806-citibike-tripdata.csv',
 'data\\JC-201807-citibike-tripdata.csv',
 'data\\JC-201808-citibike-tripdata.csv',
 'data\\JC-201809-citibike-tripdata.csv',
 'data\\JC-201810-citibike-tripdata.csv',
 'data\\JC-201811-citibike-tripdata.csv',
 'data\\JC-201812-citibike-tripdata.csv',
 'data\\JC-201901-citibike-tripdata.csv',
 'data\\JC-201902-citibike-tripdata.csv',
 'data\\JC-201903-citibike-tripdata.csv',
 'data\\JC-201904-citibike-tripdata.csv',
 'data\\JC-201905-citibike-tripdata.csv',
 'data\\JC-201906-citibike-tripdata.csv',
 'data\\JC-201907-citibike-tripdata.csv',
 'data\\JC-201908-citibike-tripdata.csv',
 'data\\JC-201909-citibike-tripdata.csv',
 'data\\JC-201910-citibike-tripdata.csv',
 'data\\JC-201911-citibike-tripdata.csv',
 'data\\JC-201912-citibike-tripdata.csv',
 'data\\JC-202001-citibike-tripdata.csv',
 'data\\JC-202002-citibike-tripdata.csv',
 'data\\JC-202003-citibike-tripdata.csv',
 'data\\JC-202004-citibike-tripdata.csv',
 'data\\JC-202005-citibike-tripdata.csv',
 'data\\JC-202006-citibike-tripdata.csv',
 'data\\JC-202007-citibike-tripdata.csv',
 'data\\JC-202008-citibike-tripdata.csv',
 'data\\JC-202009-citibike-tripdata.csv',
 'data\\JC-202010-citibike-tripdata.csv',
 'data\\JC-202011-citibike-tripdata.csv',
 'data\\JC-202012-citibike-tripdata.csv',
 'data\\JC-202101-citibike-tripdata.csv',
 'data\\JC-202102-citibike-tripdata.csv',
 'data\\JC-202103-citibike-tripdata.csv',
 'data\\JC-202104-citibike-tripdata.csv']

In [3]:
df=pd.concat((pd.read_csv(file)
          for file in stock_files), ignore_index = True)

In [4]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [6]:
df['starttime']=pd.to_datetime(df['starttime'])

In [7]:
df['Age']=(df['starttime'].dt.year)-df['birth year']

In [8]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,26
1,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,49
2,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,72
3,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,24
4,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,27

In [11]:
df.to_csv("JC-201801-202104-citibike-tripdata.csv")

In [ ]:
#age_df=df.loc[:,['starttime','birth year','Age']]

In [ ]:
#age_df=age_df.loc[df['Age']>100]

In [ ]:
#age_df['birth year'].value_counts()

In [ ]:
#age_df=age_df.set_index('Age')
#age_df